.content{
        height: auto;
        background-color: #0277bd;
        margin-top: 2em;
        text-align: center;
        padding-top: 20px;
}
.data-block{
    margin-top:2em;
    margin-left:2em;
}
.header{
        margin-top:15px;
        background-color:white;
}
.item{
        margin-top:10px;
        margin-left:5px;
        height:13em;
        width:17em;
        -webkit-box-shadow: 0 8px 6px -6px #2196F3;
	      -moz-box-shadow: 0 8px 6px -6px #2196F3;
	      box-shadow: 0 8px 6px -6px #2196F3;
}
.logo>img{
        height:2.7em;
        display: block;
        margin: auto;
}
span.content-text{
        opacity: 0.9;
        font-size: 2.5em;
        color: #FFFFFF;
    }
span.data-heading{
        color: #212121;
        font-size: 2em;
}
label{
        font-size:1.2em;
        color:#212121;
}
.fountainG{
	  position:absolute;
	  top:0;
	  background-color:rgb(0,0,0);
	  width:28px;
	  height:28px;
	  animation-name:bounce_fountainG;
		-o-animation-name:bounce_fountainG;
		-ms-animation-name:bounce_fountainG;
		-webkit-animation-name:bounce_fountainG;
		-moz-animation-name:bounce_fountainG;
	  animation-duration:1.5s;
		-o-animation-duration:1.5s;
		-ms-animation-duration:1.5s;
		-webkit-animation-duration:1.5s;
		-moz-animation-duration:1.5s;
	  animation-iteration-count:infinite;
		-o-animation-iteration-count:infinite;
		-ms-animation-iteration-count:infinite;
		-webkit-animation-iteration-count:infinite;
		-moz-animation-iteration-count:infinite;
	  animation-direction:normal;
		-o-animation-direction:normal;
		-ms-animation-direction:normal;
		-webkit-animation-direction:normal;
		-moz-animation-direction:normal;
	  transform:scale(.3);
		-o-transform:scale(.3);
		-ms-transform:scale(.3);
		-webkit-transform:scale(.3);
		-moz-transform:scale(.3);
	  border-radius:19px;
		-o-border-radius:19px;
		-ms-border-radius:19px;
		-webkit-border-radius:19px;
		-moz-border-radius:19px;
}
.header>img{
    height:80px;
}
.heading{
        color: #1a237e;
        font-size: 1.7em;
        padding-left: 10px;
        padding-top: 10px;
}
.items{
    margin-left:1em;
}
.logo{
        margin-top:2em;
}

.status{
        position: absolute;
        height:1em;
        width:80%;
        background-color:#4caf50;
        margin-top:2em;
}
.switch{
        margin-top:2em;
}


#fountainG{
	  position:relative;
	  width:234px;
	  height:28px;
	  margin:auto;
    margin-top:7em;
}
#fountainG_1{
	  left:0;
	  animation-delay:0.6s;
		-o-animation-delay:0.6s;
		-ms-animation-delay:0.6s;
		-webkit-animation-delay:0.6s;
		-moz-animation-delay:0.6s;
}

#fountainG_2{
	  left:29px;
	  animation-delay:0.75s;
		-o-animation-delay:0.75s;
		-ms-animation-delay:0.75s;
		-webkit-animation-delay:0.75s;
		-moz-animation-delay:0.75s;
}

#fountainG_3{
	  left:58px;
	  animation-delay:0.9s;
		-o-animation-delay:0.9s;
		-ms-animation-delay:0.9s;
		-webkit-animation-delay:0.9s;
		-moz-animation-delay:0.9s;
}

#fountainG_4{
	  left:88px;
	  animation-delay:1.05s;
	  -o-animation-delay:1.05s;
	  -ms-animation-delay:1.05s;
		-webkit-animation-delay:1.05s;
		-moz-animation-delay:1.05s;
}

#fountainG_5{
	  left:117px;
	  animation-delay:1.2s;
		-o-animation-delay:1.2s;
		-ms-animation-delay:1.2s;
		-webkit-animation-delay:1.2s;
		-moz-animation-delay:1.2s;
}

#fountainG_6{
	  left:146px;
	  animation-delay:1.35s;
		-o-animation-delay:1.35s;
		-ms-animation-delay:1.35s;
		-webkit-animation-delay:1.35s;
		-moz-animation-delay:1.35s;
}

#fountainG_7{
	  left:175px;
	  animation-delay:1.5s;
		-o-animation-delay:1.5s;
		-ms-animation-delay:1.5s;
		-webkit-animation-delay:1.5s;
		-moz-animation-delay:1.5s;
}

#fountainG_8{
	  left:205px;
	  animation-delay:1.64s;
		-o-animation-delay:1.64s;
		-ms-animation-delay:1.64s;
		-webkit-animation-delay:1.64s;
		-moz-animation-delay:1.64s;
}



@keyframes bounce_fountainG{
	  0%{
	      transform:scale(1);
		    background-color:rgb(0,0,0);
	  }

	  100%{
	      transform:scale(.3);
		    background-color:rgb(255,255,255);
	  }
}

@-o-keyframes bounce_fountainG{
	  0%{
	      -o-transform:scale(1);
		    background-color:rgb(0,0,0);
	  }

	  100%{
	      -o-transform:scale(.3);
		    background-color:rgb(255,255,255);
	  }
}

@-ms-keyframes bounce_fountainG{
	  0%{
	      -ms-transform:scale(1);
		    background-color:rgb(0,0,0);
	  }

	  100%{
	      -ms-transform:scale(.3);
		    background-color:rgb(255,255,255);
	  }
}

@-webkit-keyframes bounce_fountainG{
	  0%{
	      -webkit-transform:scale(1);
		    background-color:rgb(0,0,0);
	  }

	  100%{
	      -webkit-transform:scale(.3);
		    background-color:rgb(255,255,255);
	  }
}

@-moz-keyframes bounce_fountainG{
	  0%{
	      -moz-transform:scale(1);
		    background-color:rgb(0,0,0);
	  }

	  100%{
	      -moz-transform:scale(.3);
		    background-color:rgb(255,255,255);
	  }
}